<%- include("partials/header.ejs") %>
<h1>Contact Me</h1>
<form>
  <input name="name" type="text" id="text1" class="feedback-input" placeholder="Name" />
  <input name="email" type="text" id="text2" class="feedback-input" placeholder="Email" />
  <textarea name="text" class="feedback-input" placeholder="Comment" id="comid"></textarea>
  <input type="submit" value="SUBMIT" id="sub"/>
</form>
<%-include('partials/footer.ejs')%>