<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <p>I have developed a dynamic web project using Node.js, Express.js, and EJS (Embedded JavaScript) as the templating engine. The application follows the MVC architecture, ensuring a clean and scalable structure. 
    EJS was used to create reusable and dynamic front-end views, while Express handled routing and server-side logic. 
    Additional technologies and tools were integrated to enhance the functionality and user experience, including middleware for request handling, form validation, and database connectivity (if applicable).
    The project demonstrates a full-stack development approach with a focus on performance, maintainability, and user interaction.
  </p>
  <!-- <p>
    I have developed a dynamic web project using Node.js, Express.js, and EJS (Embedded JavaScript) as the templating engine.
    The application follows the MVC architecture, ensuring a clean and scalable structure. EJS was used to create reusable and dynamic front-end views, while Express handled routing and server-side logic.
    Additional technologies and tools were integrated to enhance the functionality and user experience, including middleware for request handling, form validation, and database connectivity (if applicable).
    The project demonstrates a full-stack development approach with a focus on performance, maintainability, and user interaction.</p> -->

  <%- include("partials/footer.ejs") %>